* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

a {
    text-decoration:none; 
}

@media screen and (min-width: 601px){
    h1 {
        font-size: 27.47px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    h2 {
        font-size: 53.64px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    h3{
        font-family: 'Noto Sans', sans-serif;
        font-size: 27.47px;
        font-weight: 700;
        color: #3BAF8A;
    }



    .top {
        height: auto;
        width:100vw;
        margin-top: 50px;
    }

    .top-text{
        display:flex;
        width: 80vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 17.58px;
    }


    #top-text-bl{
        width: auto;
    }

    #top-text-link{
        margin:5px 0px 5px auto;
    }

    #top-text-link a{
        margin:0px 0px 0px 20px;
        color:black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 17.58px;
    }

    .top-carousel {
        height:auto;
        width:100vw;
        margin-top: 30px;
    }

    .top-tag{
        width: 130px;
        height: 30px;
        margin: 10px auto 20px 10vw;
        background-color:#3BAF8A;
        color:white;
        font-size: 17.58px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-radius: 20px;
        border-width: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-horizontal-list{
        margin:0px;
    }

    ul.top-horizontal_list {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding-left: 10vw;
    }
    ul.top-horizontal_list::-webkit-scrollbar {
        display: none;
    }

    li.top-horizontal_list {
        display: inline-block;
        width: 280px;
        height: 515px;
        margin: 0px 30px 0px 0px;
        font-size: 28px;
    }	

    li.top-horizontal_list img {
        width: 280px;
        height: 515px;
        position: relative;
        z-index: -1;
        object-fit: cover;
    }

    .top_list1_contents {
        width: 280px;
        height: 495px;
        border-style: solid;
        border-width: 10px;
        border-radius: 10px;
        border-color: #3BAF8A;
        z-index: 2;
    }

    .top-text{
        margin :20px auto 0px  auto;
        padding: auto auto auto auto;
        width: 80vw;
        height: auto;
        font-size : 53,64px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-radius: 10px;
    }

    .top-title {
        position: fixed;
        bottom: 0;
        height: 160px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        justify-content: space-between;
    }

    .top-h1{
        align-self: center;
        font-size: 27.47px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        height: 80%;
        margin: 20px auto auto 10vw;
    }

    .top-entryBtn {
        align-self: center;
        color: white;
        height: 50px;
        width: 260px;
        background-color: #3BAF8A;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 25px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .top-entryBtn p{
        padding-left: 40px;
        font-size: 27.47px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-align: center;
    }

    #top-carousel-back{
        position: absolute;
        width: 100vw;
        height: 330px;
        top: 50vh;
        background-color: #F1EFEF;
        z-index: -2;
    }

    .top-info-back {
        position: relative;
        transform-origin: bottom center;
        width: 280px;
        height: 180px;
        margin: 0px 0px 0px 0px;
        background-color: #272727;
        opacity: 0;
        z-index: -1;
    }

    .top-info-text-wrap{
        position: relative;
        margin: -350px 0px 0px 24px;
        width: 240px;
        height: 330px;
        opacity: 0;
    }

    .top-info-text1{
        font-family: 'Noto Sans', sans-serif;
        font-size: 17.58px;
        font-weight:700;
        width: 200px;
        color: white;
    }

    .top-info-text2{
        font-family: 'Noto Sans', sans-serif;
        font-size:14.06px;
        font-weight:400;
        margin-top: 20px;
        width: 200px;
        color: white;
    }

    .top-info-text3{
        font-family: 'Noto Sans', sans-serif;
        font-size:14.06px;
        font-weight:400;
        margin-top: 18px;
        width: 200px;
        color: white;
    }

    .top-info-bl{
        width:auto;
        height:auto;
    }

    .top-info-btn{
        width: 200px;
        height: 40px;
        background-color: #3BAF8A;
        color: #272727;
        margin: 40px auto 0px auto;
        border-radius: 20px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 17.58px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .msn {
        width: 80vw;
        height: auto;
        margin: 300px auto 150px auto;
    }

    .msn-head {
        width: 680px;
        height: auto;
        margin: 0px auto 50px 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 53.64px;
        font-weight: 400;
    }

    .msn-tag {
        width: 180px;
        height: 40px;
        margin: 80px auto 12px 0px;
        background-color: white;
        font-size: 20.25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-style: solid;
        border-color: black;
        border-radius: 20px;
        border-width: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .msn-text1 {
        width: 580px;
        height: auto;
        margin-top: 30px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 27.47px;
        font-weight: 700;
        color: #3BAF8A;
    }

    .msn-text2 {
        width: 40vw;
        height: auto;
        margin-top: 20px;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
    }

    .msn-backImage {
        width: 30vw;
        margin-top: -10%;
        margin-left: auto;
        margin-right: 0px;
        z-index: -4;
    }

    .msn-backImage img {
        width: 30vw;
        height: 40vw;
        border-radius: 0px;
        object-fit: cover;
        border-radius: 5px;
    }

    .vsn {
        width: 80vw;
        height: auto;
        margin: 150px auto 150px auto;
    }

    .vsn-head {
        width: 680px;
        height: auto;
        margin: 0px auto 50px 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 53.64px;
        font-weight: 400;
    }

    .vsn-tag {
        width: 180px;
        height: 40px;
        margin-top: 80px;
        margin-bottom: 12px;
        background-color: white;
        font-size: 20.25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-style: solid;
        border-color: black;
        border-radius: 20px;
        border-width: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vsn-text1{
        width: 580px;
        height: auto;
        margin-top: 30px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 27.47px;
        font-weight: 700;
        color: #3BAF8A;
    }

    .vsn-text2{
        width: 40vw;
        height: auto;
        margin-top: 20px;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
    }

    .btn-bl {
        margin: auto;
    }

    .btn-zl{
        margin-top: 6px;
        margin-right: 40px;
    }

    .svc-tag{
        width: 180px;
        height: 40px;
        margin: 40px auto 12px auto;
        background-color: #3BAF8A;
        color: white;
        font-size: 20.25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #svc-img{
        width: 60vw;
        height: 40vh;
        margin: 20px auto 20px 20vw;
        border-style: solid;
        border-color: #3BAF8A;
        border-radius: 20px;
        border-width: 10px;
        object-fit: cover;
        z-index: -1;
    }

    .svc-tab-wrap{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 10px auto 10px auto;
    }

    .svc-tab{
        width: 144px;
        height: 40px;
        margin: 30px 10px 0px 10px;
        justify-content: center;
        color: #3BAF8A;
        font-size: 17.58px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    #svc-tab1 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 3px;
    }

    #svc-tab2 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 0px;
    }

    #svc-tab3 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 0px;
    }

    #svc-tab4 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 0px;
    }

    .svc-text1{
        color: #3BAF8A;
        font-size: 34.33px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        margin: 20px auto 20px auto;
        width: 60vw;
        height: auto;
    }

    .svc-text2{
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        margin: 20px auto 20px auto;
        width: 60vw;
        height: auto;
    }

    .abt{
        width:80vw;
        height:auto;
        margin: 300px auto 100px auto;
        font-family: 'Noto Sans', sans-serif;
    }

    .abt-head{
        margin:0px auto 0px 0px;
    }

    .abt-wrap{
        width:80vw;
        height: auto;
        margin:40px auto 40px 0px;
        display: flex;
    }

    .abt-us{
        width: 39vw;
        height: auto;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
    }

    .abt-us h3{
        margin: 0px 0px 20px 0px;
    }

    .abt-company{
        width: 39vw;
        height: auto;
        margin:300px 0px 40px 2vw;
    }

    .abt-company th{
        padding:0px 10px 10px 0px; 
        color: #00000077;
    }

    .abt-company td{
        padding:0px 10px 10px 0px; 
    }

    .abt-company h3{
        color: black;
        margin: 0px 0px 20px 0px;
    }

    .abt-company table{
        text-align: left;
    }

    .evr{
        width: 80vw;
        height: auto;
        margin:200px auto 100px auto;
    }

    #evr-img{
        width:80vw;
        height:30vw;
        margin: 40px auto 0px auto;
        border-style: solid;
        border-color: #3BAF8A;
        border-radius: 20px;
        border-width: 10px;
    }

    .evr-text{
        margin:36px auto 60px auto;
    }

    .evr-text p{
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
    }

    .evr-officeImage{
        width:90vw;
        height:240px;
    }

    ul.evr-office-carousel{
        overflow-x: auto;
        margin: 20px auto 40px 0px;
        white-space: nowrap;
    }

    li.evr-office-carousel{
        display: inline-block;
        width: 380px;
        height: 238px;
        margin-right: 30px;
        
    }

    li.evr-office-carousel img{
        width:380px;
        height:238px;
        border-style: solid;
        border-color: #3BAF8A;
        border-radius: 10px;
        border-width: 10px;
    }

    ul.evr-office-carousel::-webkit-scrollbar {
        display: none;
    }

    .evr h3{
        color: black;
    }

    .evr-welfare{
        display: flex;
        margin: 80px auto 200px 0px;
    }

    .evr-welfare-list{
        margin: 0px 0px 0px auto;
    }

    .evr-welfare-list th{
        text-align: left;
        border-bottom: solid;
        border-width:1px;
        border-color: #D6D6D6;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        padding: 20px 60px 10px 40vw;
    }

    .evr-welfare-list td{
        border-bottom: solid;
        border-width:1px;
        border-color: #D6D6D6;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        padding: 20px 20px 10px 10px;
    }

    .fot-requirement{
        display: flex;
        width: 80vw;
        height:375px;
        padding:0px 10vw 0px 10vw;
        background-color: #F1EFEF;
        font-family: 'Noto Sans', sans-serif;
    }

    .fot-requirement-left{
        width:40vw;
        margin: 40px auto 40px 0px;
        z-index: 1;
    }

    .fot-requirement-re{
        font-size: 30.38px;
        font-family: 'Montserrat', sans-serif;
    }

    .fot-requirement-head{
        font-size: 68.34px;
    }

    .fot-requirement-p{
        margin: 80px auto 0px 0px;
    }

    .fot-requirement-right{
        width:30vw;
        margin: auto 0px 0px auto;
        z-index: 1;
    }

    .fot-requirement-btn{
        align-self: center;
        width:30vw;
        height: 50px;
        margin: auto 0px 40px auto;
        border-style: solid;
        border-color: black;
        border-radius: 50px;
        border-width: 2px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .fot-requirement-btn p{
        color:black;
    }

    #fot-requirement-bl{
        width:auto;
    }

    .fot-requirement-btn img{
        margin: auto 30px auto auto;
    }

    .fot-requirement-btn p{
        padding-left: 40px;
        font-size: 27.47px;
        font-weight: 500;
        text-align: center;
    }

    .fot-wave{
        position:absolute;
        width:100vw;
        height: 375px;
        z-index:0;
        display:flex;
        align-items:center;
    }

    .fot-animate{
        background-color: #f5f5f5;
        width:20vw;
        height:2vh;
    }

    .fot-index{
        width: 80vw;
        height:325px;
        padding:50px 10vw 0px 10vw;
        background-color: #3BAF8A;
        color: white;
    }

    .fot-index h1{
        margin:0px auto 80px 0px;
        font-size: 53.64px;
    }

    .fot-index-wrap{
        display:flex;
        margin: 0px auto 20px 0px;
    }

    .fot-index-wrap p{
        margin: 0px 40px 0px 0px;
    }

    .smallText{
        font-size: 14.06px;
        color: #00000088;
    }
}

/* ---------------------------------------- */

@media only screen and (max-width: 600px){
    h1 {
        font-size: 8vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    h2 {
        font-size: 34.33px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    h3{
        font-family: 'Noto Sans', sans-serif;
        font-size: 27.47px;
        font-weight: 700;
        color: #3BAF8A;
    }

    .top {
        height: auto;
        width:100vw;
        margin-top: 30px;
    }
    
    .top-text{
        text-align: center;
        width: 100vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 3vw;
    }
    
    #top-h1{
        width: 100vw;
        text-align: center;
    }
    
    #top-text-link{
        margin:10px 0px 5px auto;
    }
    
    #top-text-link a{
        margin:0px 10px 0px 10px;
        color:black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 4vw;
    }

    .top-carousel {
        height:auto;
        width:100vw;
        margin-top: 30px;
    }

    .top-tag{
        width: 40%;
        height: 30px;
        margin: 40px 30% 20px 30%;
        background-color:#3BAF8A;
        color:white;
        font-size: 17.58px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-radius: 20px;
        border-width: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-horizontal-list{
        margin:0px;
    }

    ul.top-horizontal_list {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding-left: 10vw;
    }
    ul.top-horizontal_list::-webkit-scrollbar {
        display: none;
    }

    li.top-horizontal_list {
        display: inline-block;
        width: 280px;
        height: 515px;
        margin: 0px 30px 0px 0px;
        font-size: 28px;
    }	

    li.top-horizontal_list img {
        width: 280px;
        height: 515px;
        position: relative;
        z-index: -1;
        object-fit: cover;
    }

    .top_list1_contents {
        width: 280px;
        height: 495px;
        border-style: solid;
        border-width: 10px;
        border-radius: 10px;
        border-color: #3BAF8A;
        z-index: 2;
    }

    .top-title {
        position: fixed;
        bottom: 0;
        height: 80px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        justify-content: space-between;
    }

    .top-h1{
        align-self: center;
        font-size: 27.47px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        height: 0px;
        margin: 0px auto auto 0px;
    }

    .top-entryBtn {
        align-self: center;
        color: white;
        height: 50px;
        width: 70vw;
        margin: 0px 15vw 10px 15vw;
        background-color: #3BAF8A;
        border-radius: 25px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .top-entryBtn p{
        padding-left: 40px;
        font-size: 27.47px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-align: center;
    }

    #top-carousel-back{
        position: absolute;
        width: 100vw;
        height: 330px;
        top: 50vh;
        background-color: #F1EFEF;
        z-index: -2;
    }

    .top-info-back {
        position: relative;
        transform-origin: bottom center;
        width: 280px;
        height: 180px;
        margin: 0px 0px 0px 0px;
        background-color: #272727;
        opacity: 0;
        z-index: -1;
    }

    .top-info-text-wrap{
        position: relative;
        margin: -350px 0px 0px 24px;
        width: 240px;
        height: 330px;
        opacity: 0;
    }

    .top-info-text1{
        font-family: 'Noto Sans', sans-serif;
        font-size: 17.58px;
        font-weight:700;
        width: 200px;
        color: white;
    }

    .top-info-text2{
        font-family: 'Noto Sans', sans-serif;
        font-size:14.06px;
        font-weight:400;
        margin-top: 20px;
        width: 200px;
        color: white;
    }

    .top-info-text3{
        font-family: 'Noto Sans', sans-serif;
        font-size:14.06px;
        font-weight:400;
        margin-top: 18px;
        width: 200px;
        color: white;
    }

    .top-info-bl{
        width:auto;
        height:auto;
    }

    .top-info-btn{
        width: 200px;
        height: 40px;
        background-color: #3BAF8A;
        color: #272727;
        margin: 40px auto 0px auto;
        border-radius: 20px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 17.58px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .msn {
        width: 80vw;
        height: auto;
        margin: 300px auto 150px auto;
    }

    .msn-head {
        width: 90vw;
        height: auto;
        margin: 0px auto 50px 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .msn-tag {
        width: 120px;
        height: 30px;
        margin: 80px auto 12px auto;
        background-color: white;
        font-size: 17.58px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-style: solid;
        border-color: black;
        border-radius: 20px;
        border-width: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .msn-text1 {
        width: 80vw;
        height: auto;
        margin-top: 16px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 21.98px;
        font-weight: 700;
        color: #3BAF8A;
    }

    .msn-text2 {
        height: auto;
        margin-top: 8px;
        font-size: 14.06px;
        font-family: 'Noto Sans', sans-serif;
    }

    .msn-backImage {
        width: 80vw;
        margin-top: 24px;
        display: flex;
        align-items: flex-end;
        z-index: -1;
    }

    .msn-backImage img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .vsn {
        width: 80vw;
        height: auto;
        margin: 150px auto 150px auto;
    }

    .vsn-head {
        width: 100%;
        height: auto;
        margin: 0px auto 50px 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 53.64px;
        font-weight: 400;
    }

    .vsn-tag {
        width: 120px;
        height: 30px;
        margin: 80px auto 12px auto;
        background-color: white;
        font-size: 17.58px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-style: solid;
        border-color: black;
        border-radius: 20px;
        border-width: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vsn-text1{
        width: 100%;
        height: auto;
        margin-top: 30px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        color: #3BAF8A;
    }

    .vsn-text2{
        height: auto;
        margin-top: 8px;
        font-size: 14.06px;
        font-family: 'Noto Sans', sans-serif;
    }

    .btn-bl {
        margin: auto;
    }

    .btn-zl{
        margin-top: 6px;
        margin-right: 40px;
    }

    .svc-tag{
        width: 180px;
        height: 40px;
        margin: 40px auto 12px auto;
        background-color: #3BAF8A;
        color: white;
        font-size: 20.25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #svc-img{
        width: 80vw;
        height: auto;
        margin: 20px auto 20px auto;
        display: flex;
        align-items: center;
        border-style: solid;
        border-color: #3BAF8A;
        border-radius: 10px;
        border-width: 5px;
        object-fit: cover;
        z-index: -1;
    }

    .svc-tab-wrap{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 10px auto 10px auto;
    }

    .svc-tab{
        width: 144px;
        height: 40px;
        margin: 30px 10px 0px 10px;
        justify-content: center;
        color: #3BAF8A;
        font-size: 11.25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    #svc-tab1 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 3px;
    }

    #svc-tab2 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 0px;
    }

    #svc-tab3 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 0px;
    }

    #svc-tab4 {
        border-bottom: solid;
        border-color: #3BAF8A;
        border-width: 0px;
    }

    .svc-text1{
        color: #3BAF8A;
        font-size: 27.47px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        margin: 20px auto 20px auto;
        width: 80vw;
        height: auto;
    }

    .svc-text2{
        font-size: 14.06px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        margin: 20px auto 20px auto;
        width: 80vw;
        height: auto;
    }

    .abt{
        width:80vw;
        height:auto;
        margin: 300px auto 100px auto;
        font-family: 'Noto Sans', sans-serif;
    }

    .abt-head{
        margin:0px auto 0px 0px;
    }

    .abt-wrap{
        width:80vw;
        height: auto;
        margin:40px auto 40px 0px;
        display: block;
    }

    .abt-us{
        width: 80vw;
        height: auto;
        font-size: 14.06px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
    }

    .abt-us h3{
        margin: 0px 0px 20px 0px;
    }

    .abt-company{
        width: 80vw;
        height: auto;
        margin:100px 0px 40px 2vw;
    }

    .abt-company th{
        padding:0px 10px 10px 0px; 
        color: #00000077;
    }

    .abt-company td{
        padding:0px 10px 10px 0px; 
    }

    .abt-company h3{
        color: black;
        margin: 0px 0px 20px 0px;
    }

    .abt-company table{
        text-align: left;
    }

    .evr{
        width: 80vw;
        height: auto;
        margin:200px auto 100px auto;
    }

    #evr-img{
        width:80vw;
        height:50vw;
        margin: 40px auto 0px auto;
        border-style: solid;
        border-color: #3BAF8A;
        border-radius: 10px;
        border-width: 8px;
        object-fit: cover;
    }

    .evr-text{
        margin:36px auto 60px auto;
    }

    .evr-text p{
        font-size: 14.06px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
    }

    .evr-officeImage{
        width:80vw;
        height:240px;
    }

    ul.evr-office-carousel{
        overflow-x: auto;
        margin: 20px auto 40px 0px;
        white-space: nowrap;
    }

    li.evr-office-carousel{
        display: inline-block;
        width: 80vw;
        height: 35vh;
        margin-right: 8px;
        
    }

    li.evr-office-carousel img{
        width:90%;
        height:auto;
        border-style: solid;
        border-color: #3BAF8A;
        border-radius: 10px;
        border-width: 8px;
        object-fit: cover;
    }

    ul.evr-office-carousel::-webkit-scrollbar {
        display: none;
    }

    .evr h3{
        color: black;
    }

    .evr-welfare{
        display: block;
        margin: 80px auto 200px 0px;
    }

    .evr-welfare-list{
        margin: 0px 0px 0px auto;
    }

    .evr-welfare-list th{
        width:40%;
        text-align: left;
        border-bottom: solid;
        border-width:1px;
        border-color: #D6D6D6;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        padding: 20px 10px 10px 10px;
    }

    .evr-welfare-list td{
        width:40%;
        border-bottom: solid;
        border-width:1px;
        border-color: #D6D6D6;
        font-size: 17.58px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        padding: 20px 20px 10px 10px;
    }

    .fot {
        width: 100vw;
        height: auto;
        background-color: #F1EFEF;
        z-index: -5;
    }

    .fot-requirement{
        display: block;
        width: 80vw;
        height:auto;
        padding:40px 10vw 40px 10vw;
        font-family: 'Noto Sans', sans-serif;
        z-index: 5;
    }

    .fot-requirement-left{
        width:100%;
        margin: 0px auto 40px 0px;
        z-index: 2;
    }

    .fot-requirement-re{
        margin-top: 0px;
        font-size: 21.98px;
        font-family: 'Montserrat', sans-serif;
    }

    .fot-requirement-head{
        font-size: 42.91px;
    }

    .fot-requirement-p{
        margin: 80px auto 0px 0px;
    }

    .fot-requirement-right{
        width:100%;
        margin: auto 0px 0px auto;
        z-index: 2;
    }

    .fot-requirement-btn{
        align-self: center;
        width:80vw;
        height: 50px;
        margin: auto 0px 0px auto;
        border-style: solid;
        border-color: black;
        border-radius: 50px;
        border-width: 2px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .fot-requirement-btn p{
        color:black;
    }

    #fot-requirement-bl{
        width:auto;
    }

    .fot-requirement-btn img{
        margin: auto 30px auto auto;
    }

    .fot-requirement-btn p{
        padding-left: 40px;
        font-size: 27.47px;
        font-weight: 500;
        text-align: center;
    }

    .fot-wave{
        position:absolute;
        width:100vw;
        height: 375px;
        z-index:-1;
        display:flex;
        align-items:center;
    }

    .fot-animate{
        background-color: #f5f5f5;
        width:20vw;
        height:2vh;
    }

    .fot-index{
        width: 80vw;
        height:auto;
        padding:50px 10vw 100px 10vw;
        background-color: #3BAF8A;
        color: white;
    }

    .fot-index h1{
        margin:0px auto 80px 0px;
        font-size: 34.33px;
        width: 100%;
    }

    .fot-links{
        display: flex;
    }

    .fot-index-wrap{
        width: 100%;
        height: auto;
        display:block;
        margin: 0px auto 20px 0px;
    }

    .fot-index-wrap p{
        margin: 10px 0px 0px 0px;
        font-size: 14.06px;
    }

    .smallText{
        font-size: 14.06px;
        color: #00000088;
    }
}